version: '2'
services:

  postgres:
    image: postgres:{{ pg_version }}
    container_name: postgres
    hostname: postgres
    restart: unless-stopped
{% if not docker_network_host_mode | bool %}
    ports:
      - "5432:5432"
    networks:
      - local
{% endif %}
{% if docker_network_host_mode | bool %}
    network_mode: host
{% endif %}
    volumes:
      - "{{ postgres_compose_dir }}/data:/var/lib/postgresql/data:Z"
    environment:
      http_proxy:
      https_proxy:
      no_proxy:

      POSTGRES_DB: {{ pg_database }}
      POSTGRES_USER: {{ pg_username }}
      POSTGRES_PASSWORD: {{ pg_password }}
      PGDATA: /var/lib/postgresql/data/pgdata

{% if not docker_network_host_mode | bool %}
networks:
  local:
    external:
      name: {{ docker_network_name }}
{% endif %}
