{
  "vhosts": [
    {"name": "{{ rabbitmq_vhost }}"}
  ],
  "users": [
    {"name": "{{ admin_user }}", "password": "{{ admin_password }}", "tags": "administrator"},
    {"name": "{{ rabbitmq_user }}", "password": "{{ rabbitmq_password }}", "tags": "administrator"}
  ],
  "permissions": [
    {"user": "{{ admin_user }}", "vhost": "{{ rabbitmq_vhost }}", "configure": ".*", "write": ".*", "read": ".*"},
    {"user": "{{ rabbitmq_user }}", "vhost": "{{ rabbitmq_vhost }}", "configure": ".*", "write": ".*", "read": ".*"}
  ],
  "policies":[
    {"vhost": "{{ rabbitmq_vhost }}", "name": "ha-all", "pattern": ".*", "apply-to": "all", "definition": {"ha-mode":"all","ha-sync-mode":"automatic"}, "priority":0}
  ]
}
