version: '2'
services:

  rabbitmq:
    image: rabbitmq:{{ rabbitmq_version }}-management
    container_name: rabbitmq
    ports:
      - "4369:4369"
      - "5671:5671"
      - "5672:5672"
      - "15671:15671"
      - "15672:15672"
      - "25672:25672"
    hostname: {{ ansible_fqdn }}
    restart: unless-stopped
    networks:
      - local
    volumes:
      - "{{ rabbitmq_compose_dir }}/data:/var/lib/rabbitmq"
      - "{{ rabbitmq_compose_dir }}/rabbitmq.config:/etc/rabbitmq/rabbitmq.config"
      - "{{ rabbitmq_compose_dir }}/definitions.json:/etc/rabbitmq/definitions.json"
    environment:
      http_proxy:
      https_proxy:
      no_proxy:

      RABBITMQ_ERLANG_COOKIE: {{ rabbitmq_cookie }}
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit log_levels [{connection,warning},{channel,warning}]"

networks:
  local:
    external:
      name: {{ docker_network_name }}
