[
	{ rabbit, [
		{cluster_nodes, {[ 'rabbit@{{ rabbitmq_cluster_master }}' ], disc}},
    {tcp_listen_options, [binary, {backlog, 1024}, {nodelay, true}, {keepalive, true} ]},
    {vm_memory_high_watermark, 0.3},
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"{{ admin_user }}">> },
		{ default_user, <<"{{ admin_password }}">> },
        { default_vhost, {{ rabbitmq_vhost }}},
		{ hipe_compile, false }
	] },

	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] },
		{load_definitions, "/etc/rabbitmq/definitions.json"}
	] }
].
