version: '2'
services:

  isolated:
    image: {{ awx_isolated_docker_actual_image }}
    container_name: awx_isolated
    hostname: isolated
    user: root
    restart: unless-stopped
{% if not docker_network_host_mode | bool %}
    ports:
      - "2022:22"
    networks:
      - local
{% endif %}
{% if docker_network_host_mode | bool %}
    network_mode: host
{% endif %}
    volumes:
      - "{{ isolated_compose_dir }}/authorized_keys:/home/ansible/.ssh/authorized_keys:ro"
    environment:
      http_proxy:
      https_proxy:
      no_proxy:

{% if not docker_network_host_mode | bool %}
networks:
  local:
    external:
      name: {{ docker_network_name }}
{% endif %}
