services:
  gateway-postgres:
    image: docker.io/postgres:{{ gateway_pg_version }}
    container_name: gateway-postgres
    hostname: gateway-postgres
    restart: unless-stopped
    network_mode: host
    command: ["-p", "{{ gateway_pg_port }}", "-c", "ssl=on", "-c", "ssl_cert_file=/etc/ssl/pg/server.crt", "-c", "ssl_key_file=/etc/ssl/pg/server.key"]
    volumes:
      - "{{ gateway_pg_directory }}/data:/var/lib/postgresql/data:Z"
      - "{{ gateway_pg_directory }}/postgresql.crt:/etc/ssl/pg/server.crt:ro"
      - "{{ gateway_pg_directory }}/postgresql.key:/etc/ssl/pg/server.key:ro"
    environment:
      POSTGRES_DB: {{ gateway_pg_database }}
      POSTGRES_USER: {{ gateway_pg_username }}
      POSTGRES_PASSWORD: {{ gateway_pg_password }}
      POSTGRES_INITDB_ARGS: {{ gateway_pg_initdb_args }}
      POSTGRES_HOST_AUTH_METHOD: {{ gateway_pg_host_auth_method }}
      PGDATA: /var/lib/postgresql/data/pgdata
