DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ awx_pg_database }}",
        'USER': "{{ awx_pg_username }}",
        'PASSWORD': "{{ awx_pg_password }}",
        'HOST': "{{ awx_pg_hostname | default('postgres') }}",
        'PORT': "{{ awx_pg_port }}",
        'OPTIONS': {
            'sslmode': '{{ awx_pg_sslmode | default("prefer") }}',
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ awx_broadcast_websocket_secret | b64encode }}"
