DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ awx_pg_database }}",
        'USER': "{{ awx_pg_username }}",
        'PASSWORD': "{{ awx_pg_password }}",
        'HOST': "{{ awx_pg_hostname | default('postgres') }}",
        'PORT': "{{ awx_pg_port }}",
        'OPTIONS': {
            'sslmode': '{{ awx_pg_sslmode | default("prefer") }}',
{% if awx_pg_keepalives %}
            'keepalives': 1,
            'keepalives_idle': {{ awx_pg_keepalives_idle }},
            'keepalives_interval': {{ awx_pg_keepalives_interval }},
            'keepalives_count': {{ awx_pg_keepalives_count }},
{% else %}
            'keepalives': 0,
{% endif %}
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ awx_broadcast_websocket_secret | b64encode }}"
