services:

  awx-receptor:
    image: {{ awx_ee_image_url }}
    container_name: awx-receptor
{% if awx_rootful_containers | bool %}
    user: root
{% endif %}
    privileged: true
    command: ["receptor", "--config", "/etc/receptor/receptor.conf"]
    hostname: "{{ awx_cluster_node_host_id }}"
    restart: unless-stopped
    network_mode: host
    volumes:
      - "{{ awx_directory }}/receptor_socket:/var/run/receptor:rw"
{% if awx_node_role_type == 'execution'%}
      - "{{ awx_directory }}/projects:/var/lib/awx/projects:rw"
{% endif %}
      - "{{ awx_directory }}/receptor:/etc/receptor/:rw"
{% if awx_node_role_type == 'execution'%}
{% if awx_rootful_containers | bool %}
      - "{{ awx_directory }}/containers:/var/lib/containers/:rw"
{% else %}
      - "{{ awx_directory }}/containers:/home/runner/.local/share/containers/:rw"
{% endif %}
{% endif %}
      - "{{ awx_directory }}/mesh-CA.crt:/etc/receptor/tls/ca/mesh-CA.crt:ro"
      - "{{ awx_directory }}/receptor-execution.conf:/etc/receptor/receptor.conf:ro"
      - "{{ awx_directory }}/ansible_runner_uuid:/home/runner/.ansible_runner_uuid:rw"
{% if awx_node_role_type == 'execution'%}
      - "{{ awx_directory }}/work-public-key.pem:/etc/receptor/work_public_key.pem:ro"
{% endif %}
      - "{{ awx_directory }}/receptor.crt:/etc/receptor/tls/receptor.crt:ro"
      - "{{ awx_directory }}/receptor.key:/etc/receptor/tls/receptor.key:ro"
{% if awx_receptor_additional_volumes is defined and awx_receptor_additional_volumes | length %}
{% for volume in awx_receptor_additional_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
{% if awx_ca_trust_dir is defined %}
      - "{{ awx_ca_trust_dir }}:/etc/pki/ca-trust:ro"
{% endif %}
