GLOBAL_JOB_EXECUTION_ENVIRONMENTS = [
    {'name': 'Default execution environment' , 'image': '{{ awx_ee_image_url | quote }}'},
]
CONTROL_PLANE_EXECUTION_ENVIRONMENT = "{{ awx_ee_image_url | quote }}"
