#!/usr/bin/env bash
if [ `id -u` -ge 500 ]; then
    echo "awx:x:`id -u`:`id -g`:,,,:/var/lib/awx:/bin/bash" >> /tmp/passwd
    cat /tmp/passwd > /etc/passwd
    rm /tmp/passwd
fi

{% if awx_cluster_node_type == 'primary' %}
if [ -z "$AWX_SKIP_MIGRATIONS" ]; then
    awx-manage migrate --noinput
fi

source /etc/tower/conf.d/environment.sh

if [ ! -z "$AWX_ADMIN_USER" ]&&[ ! -z "$AWX_ADMIN_PASSWORD" ]; then
    echo "from django.contrib.auth.models import User; nsu = User.objects.filter(is_superuser=True, username=\"$AWX_ADMIN_USER\").count(); exit(0 if nsu > 0 else 1)" | awx-manage shell
        if [ $? -ne 0 ]; then
            awx-manage createsuperuser --username="${AWX_ADMIN_USER}" --email="root@localhost" --noinput
        fi
    awx-manage update_password --username="${AWX_ADMIN_USER}" --password="${AWX_ADMIN_PASSWORD}"
fi

unset $(cut -d = -f -1 /etc/tower/conf.d/environment.sh)
{% endif %}

if [ -z "$AWX_SKIP_PROVISION_INSTANCE" ]; then
    awx-manage provision_instance --hostname={{ awx_cluster_node_host_id }} --node_type={{ awx_node_role_type }}
fi

if [ -z "$AWX_SKIP_REGISTER_QUEUE" ]; then
    awx-manage register_queue --queuename=controlplane --instance_percent=100 --hostnames={{ awx_cluster_node_host_id }}
{% if awx_node_role_type == 'hybrid' %}
    awx-manage register_queue --queuename=default --instance_percent=100
{% endif %}
fi

if [ -z "$AWX_SKIP_REGISTER_DEFAULT_EE" ]; then
    awx-manage register_default_execution_environments
fi

set -e

wait-for-migrations

exec supervisord -c /etc/supervisord_task.conf
