---
- node:
    id: {{ awx_cluster_node_host_id }}
{% if awx_node_role_type == 'control' or awx_node_role_type == 'hybrid' %}
    firewallrules:
      - action: "reject"
        tonode: HOSTNAME
        toservice: "control"
{% endif %}

{% if awx_node_role_type == 'control' or awx_node_role_type == 'hybrid' %}
- work-signing:
    privatekey: /etc/receptor/signing/work-private-key.pem
    tokenexpiration: 1m
{% endif %}

{% if awx_node_role_type == 'control' or awx_node_role_type == 'hybrid' or awx_node_role_type == 'execution' %}
- work-verification:
    publickey: /etc/receptor/signing/work-public-key.pem
{% endif %}

- log-level: {{ awx_receptor_log_level }}

- control-service:
    service: control
    filename: /var/run/receptor/receptor.sock
    permissions: 0660
    tls: tls_server

- tls-server:
    name: tls_server
    cert: /etc/receptor/tls/receptor.crt
    key: /etc/receptor/tls/receptor.key
    clientcas: /etc/receptor/tls/ca/receptor-ca.crt
    requireclientcert: true

- tls-client:
    name: tls_client
    cert: /etc/receptor/tls/receptor.crt
    key: /etc/receptor/tls/receptor.key
    rootcas: /etc/receptor/tls/ca/receptor-ca.crt
    insecureskipverify: false

- tcp-listener:
    port: 27199
    tls: tls_server

{% if hostvars[inventory_hostname]['awx_peers'] is defined and hostvars[inventory_hostname]['awx_peers'] | length %}
{% for peer in hostvars[inventory_hostname]['awx_peers'] %}
- tcp-peer:
    address: {{ peer }}:27199
    redial: true
    tls: tls_client

{% endfor %}
{% endif %}
{% if awx_node_role_type == 'control' or awx_node_role_type == 'hybrid' %}
- work-command:
    worktype: local
    command: ansible-runner
    params: worker
    allowruntimeparams: true
    verifysignature: true

- work-kubernetes:
    worktype: kubernetes-runtime-auth
    authmethod: runtime
    allowruntimeauth: true
    allowruntimepod: true
    allowruntimeparams: true
    verifysignature: true

- work-kubernetes:
    worktype: kubernetes-incluster-auth
    authmethod: incluster
    allowruntimeauth: true
    allowruntimepod: true
    allowruntimeparams: true
    verifysignature: true

{% endif %}

{% if awx_node_role_type == 'execution' %}
- work-command:
    worktype: ansible-runner
    command: ansible-runner
    params: worker
    verifysignature: true
    allowruntimeparams: true
{% endif %}
