---
- node:
    id: {{ awx_cluster_node_host_id }}

{% if awx_node_role_type == 'execution' %}
- work-verification:
    publickey: /etc/receptor/work_public_key.pem
{% endif %}

- log-level: {{ awx_receptor_log_level }}

- control-service:
    service: control
    filename: /var/run/receptor/receptor.sock
    permissions: 0660
    tls: tls_server

- tls-server:
    name: tls_server
    cert: /etc/receptor/tls/receptor.crt
    key: /etc/receptor/tls/receptor.key
    clientcas: /etc/receptor/tls/ca/mesh-CA.crt
    requireclientcert: true

- tls-client:
    name: tls_client
    cert: /etc/receptor/tls/receptor.crt
    key: /etc/receptor/tls/receptor.key
    rootcas: /etc/receptor/tls/ca/mesh-CA.crt
    insecureskipverify: false

- tcp-listener:
    port: 27199
    tls: tls_server

{% if hostvars[inventory_hostname]['awx_peers'] is defined and hostvars[inventory_hostname]['awx_peers'] | length %}
{% for peer in hostvars[inventory_hostname]['awx_peers'] %}
- tcp-peer:
    address: {{ peer }}:27199
    redial: true
    tls: tls_client

{% endfor %}
{% endif %}

{% if awx_node_role_type == 'execution' %}
- work-command:
    worktype: ansible-runner
    command: ansible-runner
    params: worker
    verifysignature: true
    allowruntimeparams: true
{% endif %}
