{# https://github.com/ansible/awx/commit/9b034ad5742930f1122846edb5d27cb7ecdf17f0#diff-ba8d8c5299b47eb401b3b983b48f30d2778509c7812c594511f7a90569d06353R601 #}
{# https://github.com/ansible/awx/commit/45c13c25a416421cd0736214787717e98c21c946 #}
- log-level: info
- local-only: null
- node:
   firewallrules:
    - action: reject
      tonode: HOSTNAME
      toservice: control
- control-service:
    service: control
    filename: /var/run/receptor/receptor.sock
    permissions: '0660'
- work-command:
    worktype: local
    command: ansible-runner
    params: worker
    allowruntimeparams: true
- work-kubernetes:
    worktype: kubernetes-runtime-auth
    authmethod: runtime
    allowruntimeauth: true
    allowruntimepod: true
    allowruntimeparams: true
- work-kubernetes:
    worktype: kubernetes-incluster-auth
    authmethod: incluster
    allowruntimeauth: true
    allowruntimepod: true
    allowruntimeparams: true
- tls-client:
    cert: /etc/receptor/tls/receptor.crt
    key: /etc/receptor/tls/receptor.key
    name: tlsclient
    rootcas: /etc/receptor/tls/ca/receptor-ca.crt
    mintls13: false
- work-signing:
    privatekey: /etc/receptor/signing/work-private-key.pem
    tokenexpiration: 1m
