[docker-ce-stable]
baseurl = https://download.docker.com/linux/centos/$releasever/$basearch/stable
gpgcheck = 1
gpgkey = https://download.docker.com/linux/centos/gpg
name = Docker CE Stable - $basearch
