name: publish-ee

on:
  release:
    types:
      - published

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: Install QEMU static binaries
        uses: docker/setup-qemu-action@v2.1.0

      - name: Configure Buildkit
        uses: docker/setup-buildx-action@v2.4.0

      - name: Checkout project
        uses: actions/checkout@v3.3.0

      - name: Authenticate with Quay.io
        uses: docker/login-action@v2.1.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Generate image tag
        id: image_tag
        run: |
          echo ::set-output name=tag::$(echo ${{ github.event.release.tag_name }} | sed 's/^v//')

      - name: Build image
        uses: docker/build-push-action@v4.0.0
        with:
          context: docker
          file: docker/Dockerfile.awx-ee
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            quay.io/tadas/awx-ha-cluster-ee:latest
            quay.io/tadas/awx-ha-cluster-ee:${{ steps.image_tag.outputs.tag }}
